<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/img/card-5.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Paris</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil harum aliquam doloremque
                            praesentium impedit magni pariatur voluptates vel quibusdam quod?</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/img/card-2.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Paris</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil harum aliquam doloremque
                            praesentium impedit magni pariatur voluptates vel quibusdam quod?</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/img/card-3.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Paris</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil harum aliquam doloremque
                            praesentium impedit magni pariatur voluptates vel quibusdam quod?</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/img/card-5.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Paris</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil harum aliquam doloremque
                            praesentium impedit magni pariatur voluptates vel quibusdam quod?</p>
                        <button class="btn btn-danger btn-sm">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>