<div class="card-body">
    <p class="h3">{{event?.name}}</p>
    <p>Date : {{event?.date}}</p>
    <p>Time : {{event?.time}}</p>
    <p>Price : ${{event?.price}}</p>
    <p>ImageUrl : ${{event?.imageUrl}}</p>
    <p>Location : {{event?.price}} {{event?.location?.address}}</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
        [routerLink]="['/event',event.id]">
        Details
    </button>
    <app-event-details [event]="currentEvent"></app-event-details>
</div>